<div class="banner mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @brewery.banner_url %>);">
  <div class="container">
    <h1><%= @brewery.name %></h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-8">
      <% if @brewery.beers.present? %>
      <div class="container">
        <div class="row">
          <% @brewery.beers.each do |beer| %>
            <div class="col-6">
              <div class="card-trip mb-5">
                <img src="<%= beer.image_url %>" />
                <div class="card-trip-infos">
                  <div>
                    <h2><%= beer.name %></h2>
                  </div>
                  <%= link_to beer_path(beer), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                    <h2 class="card-trip-pricing">delete</h2>
                   <% end %>
                </div>
              </div>

            </div>
          <% end %>
        </div>
      </div>
      <% else  %>
        <h2>No beer in this brewery, add some!</h2>
      <% end %>
    </div>
    <div class="col-4">
      <h2>Add a beer:</h2>
      <%= simple_form_for [@brewery, @beer] do |f| %>
      <%= f.input :name, placeholder: "Dojlidy" %>
       <%= f.input :image_url %>
       <%= f.submit "Add", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
